.header {
	background-color: rgb(9, 202, 159);
	color: white;
	padding: 10px 5px;
	text-align: center;
}

h2 {
	text-align: center;
}

.first {
	background-color: rgb(196, 222, 252)
}

h3 {
	text-align: center;

}

.second {
	background-color: rgb(196, 222, 252) 
}

h4 {
	text-align: center;
}

.third {
	background-color: rgb(196, 222, 252)
}

h5 {
	text-align: center;
}