/* Box Model */
* {
  box-sizing: border-box;
}

body {
  	background-color: #f0efef;
  	font-family: Open Sans, sans-serif;
  	font-weight: 300;
	margin: 0;
}

.container {
}

header, h1, h2 {
	margin: 0;
}

header {
	align-items: center;
	background-color: #033048;
	display: flex;
	justify-content: space-between;
	overflow: auto;
	padding: 20px;
	width: 100%;
}

h1 {
	color: #fff;
	font-size: 48px;
	font-weight: 800;
}

.nav-links {
	color: #f9e42e;
	padding: 10px;
	text-decoration: none;

}

nav {
	align-content: flex-end;
}

section {
	padding-top: 40px;
}

article {
	border-bottom: 1px solid #043049;
}

h2 {
	color: #043049;
	width: 85%;
}

.body {
	color: #606161;
  	font-size: 24px;
  	line-height: 1.333;
  	width: 85%;
}

.readmore {
	color: #043049;
  	font-weight: 600;
  	text-decoration: none;
}


h3 {
	color: #043049;
  	font-size: 32px;
  	font-weight: 800;
}

.sidebar-links {
	color: #043049;
	display: flex;
  	font-size: 24px;
  	text-decoration: none;
}

.about {
	font-size: 22px;
  	line-height: 1.1;
}

.learnmore {
	color: #043049;
  	font-weight: 600;
  	text-decoration: none;
}

button {
	background: #033048;
  	border-radius: 5px;
  	color: #fff;
  	font-size: 28px;
  	font-weight: 800;
}

.button {
	background: yellow;
	padding: 20px;
	text-align: center;
}

.flexbox-container {
	display: flex;
	padding: 40px;
	width: 70%;
}



.readmore {
	text-align: right;
}



footer {
	background-color: black;
	padding: 20px;
}

h4 {
	color: #f9e42e;
  	font-size: 48px;
  	font-weight: 800;
  	text-align: center;
}

.social {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}

.copyright {
	color: #fff;
  	font-size: 18px;
  	font-weight: 600;
  	text-align: center;
}