body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin: 0;
}

nav {
	background: black;
}

nav a {
	color: white;
	display: inline-block;
	padding: 50px;
	margin-right: -6px;

}

nav a:hover {
	background-color: rgb(239, 136, 19);
	color: white;
}

