* {
	box-sizing: border-box;
}

body, header, h1 {
	margin: 0;
}

body {
	background-image: url('../img/vilogoblackbg.jpg');
	background-repeat: repeat;
}

.container {
	display: grid;
}

header {
	align-items: center;
	background-color: white;
	display: flex;
	justify-content: space-between;
	overflow: auto;
	padding: 30px;
	width: 100%;
}

h1 img {
	display: block;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.nav-links {
	color: black;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

nav a,
nav a:after,
nav a:before {
	transition: all .5s;
}
nav a:hover {
	color: #555;
}

nav.shift a {
	position:relative;
	z-index: 1;
}
nav.shift a:hover {
	color: white;
}
nav.shift a:after {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: black;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
nav.shift a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

header {
	height: 100%;
	display: grid;
	grid-gap: 3px;
	grid-template-columns: 3fr 2fr 3fr;
    /*grid-template-rows: auto;*/
	grid-template-areas: 
		"a b c"
		"x y z";
}

h1 {
	grid-area: y; 	
	margin-bottom: 20px;
}

.searchicon {
	margin-bottom: 20px;
	margin-top: -20px;
	padding: 10px;
}

.search {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); 
}
	/* grid-area: b;
	margin-bottom: 20px;
	margin-top: -20px;
	padding: 10px;
} */

/* #searchbar {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); 
} */

.socialicons {
	grid-area: c;
	margin-bottom: 20px;
	margin-top: -20px;
	padding: 10px;
	text-align: right;
}

.nav-left {
	grid-area: x;
}

.nav-right {
	grid-area: z;
	text-align: right;
}

.dropdown {
	display: none;
}

.banner img {
	width: 100%;
} 

input {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.card-wrapper {
	background-color: white;
	margin: 0;
	margin-bottom: 15px;
	overflow: auto;
	padding: 30px;
	position: relative;
	top: -10px;
	width: 100%;

}

.card {
	float: left;
	padding: 40px;
	text-align: center;
	width: calc(100% / 3);
}

.about {
	background-color: white;
	margin-bottom: 15px;
	text-align: center;
	padding: 50px;
}

.about-text {
	padding: 50px;

}

.flexbox {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	padding: 40px;
}

.flexbox-container {
	background-color: white;
	margin: 0;
	margin-bottom: 15px;
	overflow: auto;
	padding: 30px;
	width: 100%;
}

.flexbox-container img {
	height: 500px;
	width: 500px;
}

/* div.flexbox-container {
	border-bottom: 10px black solid;
} */

.newsletter {
	background-color: gray;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	text-align: center;
}

button {
	background: black;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	padding: 10px;
}

footer {
	background-color: black;
	padding: 20px;
}

.copyright {
	color: white;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}

/* 
.flexbox-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: auto;
} */