body {
	color: #444444;
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
	padding: 0;

}

.container {
	width: 720px;
    padding: 54px 0;
    border-left: solid 6px #dddddd;

}

.header h2 {
	color: #dd0000;
	font-size: 25px;
	text-align: center;
}

.sub-header {
	color: #000;
	size: 15px;
	text-align: center;
}

.nav {
	text-align: center;
}

.nav a {
	color: #dddddd;
	margin-bottom: 50px;
	
}

.nav:hover {
	color: #000;
}

.article-date {
	color: #cccccc;
}

.title {
	color: #000;

}

.end p {
	color: red;
	text-decoration: bold;
}

.footer {
	links	
}

img {
	margin: 10px;
	width: 100%;
}
	
}