body {
	color: #444444;
	font-family: lato, sans-serif;
	line-height: 1.5;
	margin: 0;

}

.container {
	width: 720px;
    padding: 54px;
    border-left: solid 6px #dddddd;

}

.header {
	color: #dd0000;
	size: 25px;
	text-align: center;
}

.sub-header {
	color: #000;
	size: 15px;
	text-align: center;
}

.nav a {
	color: #dddddd;
	margin-bottom: 50px;
	text-align: center;
}

.nav:hover {
	color: #000;
}

.article-date {
	color: #cccccc;
}

.title {
	color: #000;

}

.end {
	color: red;
	text-decoration: bold;
}